/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', Helvetica, Arial, sans-serif;
     margin-left: 200px;
     margin-right: 200px;
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

h2 {
  font-size: 40px;
  font-weight: 550;
  color: #033048;
  width: auto;
}

h4 {
  font-size: 30px;
}

a {
  text-decoration: none;
}

.yellow {
  background: #f9e42e;
  color: #033048;
}

.blue {  
  background: #033048;
  color: #fff;
}

.black {
  background-color: #121212;
  color: white;
}

.gray {
  background-color: #e3e7ed;
  color: #033048; 
}

.light {
  font-weight: 300;
}

.light-bold {
  font-weight: 550;
}

.bold {
  font-weight: 650;
}

.extra-bold {
  font-weight: 800;
}

.cap-first-letter:first-of-type:first-letter {
  float: left;
  font-size: 80px;
  line-height: 65px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: 600;
}

/******************************************
/* LAYOUT
/*******************************************/


/* Center the container */
#container {
  width: 960px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

* {
  width: 960px;
  margin: auto;
}

header {
  height: auto;
  width: 960px;
  padding: 10px;
  margin: auto;
  border: 1px solid black;
  background-color: #033048;
  text-align: left;
  display: inline-block
}

header .logo{
  font-size: 48px;
  color: #fff;
  margin-left: 20px;
  padding: 40px;
}

#nav{
  position: relative;
  bottom: 8px;
  left: 40px;
  display: inline;
  padding: 20px;
}

#nav a {
  color: #f9e42e;
  font-size: 24px;
  padding: 20px;
}

main {
  position: relative;
  height: auto;
  width: 720px;
  padding: 10px;
  padding-bottom: 40px;
  background-color: #e3e7ed;
  margin: auto;
  float: left;
}

.article {
  height: auto;
  width: 700px;
  padding: 10px; 
  text-align: left;
  margin: auto;
  background-color: #e3e7ed;
  padding-left: 60px;
  padding-top: 50px;
}

p {
  width: 640px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 16px;
}


.read-more {
  text-align: right;
  font-size: 20px;
  padding-right: 10px;
  float: right;
}

h2 .title {
  width: 640px;
  margin: auto;
  padding-bottom: 20px;
}

main img {
  width: 640px;
  padding: 0px;
  padding-top: 20px;
  margin: auto;
}

hr {
  width: 640px;
  margin-bottom: 10px;
}

aside {
  height: auto;
  width: 240px;
  padding: 10px;
  padding-top: 40px;
  padding-left: 20px;
  float: left;
  margin: auto;

}

ul {
  list-style-type: none;
  width: 220px;
  font-size: 24px;
  padding: 0px;
  padding-top: 20px;
}

.categories {
  text-align: left;
  width: inherit;
  padding-top: 20px; 
}

.about {
  text-align: left;
  width: 240px;  
  padding-top: 40px; 
}

.about p {
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
}

.learn-more {
  text-align: left;
  font-size: 22px;
  padding: 0px;
  font-weight: 650;
}

.ad {
  color: #121212;
  text-align: left;
  width: 240px;
  padding: 0px;
  padding-top: 20px;
}

.ad img{
  width: 200px;
  padding: 5px;
  margin: auto;
  margin-right: 10px;
}


#sign-up {
  clear: left;
  height: 130px;
  width: 960px;
  background: #f9e42e;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

.button {
    position: relative;
    top: 15px;
    border-radius: 5px;
    border: black solid 1px;
    font-weight: 800;
    padding: 12px 0;
    width: 300px;
    height: 60px;
    font-size: 28px;
    text-align: center;
    display: block;
    margin: 0 auto;
    vertical-align: middle; 
    margin: 0 auto;
  }

footer {
  height: auto;
  width: 960px;
  padding: 10px;
  background-color: #121212;
  color: white;
  text-align: center;
  display: block;
}


footer .logo {
  font-size: 48px;
  color: #f9e42e;
  text-align: center;
  width: 960px;
  margin-top: 40px;
}

footer a img {
  padding: 25px;
  height: auto;
  width: auto;

}

footer p {
  width: 960px;
  margin-bottom: 40px;
}







/******************************************
/* ADDITIONAL STYLES
/*******************************************/




