.editor, .editor:focus {
    height: 150px;
    font-family: monospace;
    color: white;
    background-color: #272822;
}
  
.statement {
    color: #FD971F;
}

.navbar {
	/*background-color: white;*/
}

#exercise-prompt {
	padding: 1em;
}


.tab-pane {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.solution-code {
	font-family: monospace;
	background-color: #272822;
	color: white;
	padding: 5px;
}


.table-name {
	font-weight: 700;
	margin-bottom: 2px;
}

table {
	width: 100%;
	border: 1px solid black;
	margin-bottom: 20px;
}

th {
	font-weight:700;
	background-color: #e9ecef;
}

th, td {
	border: 1px solid darkgray;
	padding-left: 5px;
}

input #email {
	width: 800px;
}

.faq-list>li {
	list-style-type: disc;
	margin-left: 5px;
}


#contact-us-title {
	font-weight: 700;
	margin: 20px 2px 2px 2px;

}

#email-question {
	margin: 3% 2% 2% 2%;
	width: 96%;
	height: 150px;
	padding: 1%;
}